@import url('components/navbar.css');
@import url('components/category-section.css');
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/deal-section.css');
@import url('components/general-section.css');
@import url('components/footer.css');
@import url('components/button.css');

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

a {
  font-family: 'Abel', sans-serif;
}

li {
  font-family: 'Abel', sans-serif;
  font-size: 15px;
}
