@import url('components/navbar.css');
@import url('components/category-section.css');
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/deal-section.css');
@import url('components/general-section.css');
@import url('components/footer.css');

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
