.banner {
  background-image: url('../images/banner.jpeg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: cover; */
  flex: 1;
}

.banner h1 {
  text-align: center;
  padding-top: 180px;
  font-size: 50px;
}

.banner p {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding-bottom: 200px;
  font-size: 20px;
}

@media (max-width: 500px) {
  .banner h1 {
    padding-top: 100px;
  }
}
