.deals-section {
  background-color: rgb(216, 212, 206);
}

.deals-section h2 {
  padding-top: 20px;

}

.deals-main-container {
  display: flex;
  justify-content: center;

}

.main-item {
  border-width: 0px;
  left: 0px;
  top: 0px;
  max-width: 500px;
  height: 625.5px;
  /* border: 0.5px solid rgb(0, 0, 0); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-radius: 10px; */
  margin-bottom: 20px;
  margin-right: 20px;
}

.main-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;

}

.main-text {
  margin-left: 20px;
}

.main-text p {
  color: red;
  font-size: 20px;
}



.second-section-item {
  display: flex ;
  max-width: 500px;
  /* border: 0.5px solid rgb(0, 0, 0); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-radius: 10px; */
}

.second-section-item img {
  width: 100%;
  height: 300px;
}

.second-section-item:first-child {
  margin-bottom: 25px;
}

.text {
  margin: 15px
}

.text p {
  color: red;
  font-size: 20px;
}

@media (max-width: 876px) {
 .deals-main-container {
  flex-direction: column;
  align-items: center;
 }
 .main-item {
  margin-right: 0px;
 }
 .second-section-item:last-child {
  margin-bottom: 20px;
 }
}

@media (max-width: 520px){
  .second-section-item {
    flex-direction: column-reverse;
  }
  .main-item {
    width: 337.28px;
    height: 545.44px;
  }
  .main-item img {
    width: 100%;
    height: 300px;
  }
}
