.general-item-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.general-item-container:first-child .general-item {
  margin-left: 25px;
}
.general-item-container:last-child .general-item {
  margin-right: 25px;
}

.general-item {
  max-width: 400px;
  height: 600px;
  text-align: center;
}

.general-item img {
  width: 350px;
  height: 375px;
  /* object-fit: cover; */
}

@media (max-width: 875px) {
  .general-item-container {
    flex-direction: column;
    align-items: center;
  }
}
